:root {
  /* Colors  */
  --mainColor: rgba(2, 73, 172, 1);
  --secondColor: #4bb6ae;
  --white: #fff;
  --black: #001943;
  --color-1: rgba(34, 197, 94, 1);
  --color-2: rgba(221, 51, 51, 1);
  --color-3: rgba(234, 179, 8, 1);

  --transition-time: 0.4s;

  /* Spacing */
  /* --sp- */

  /* Typography */
  --ff-primary: DIN;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-500: 16px;
  --fs-600: 18px;
  --fs-700: 28px;
  --fs-800: 58px;
  --fs-900: 72px;

  --fs-button: var(--fs-500);
  --fs-nav: var(--fs-600);
  --fs-body: var(--fs-600);
  --fs-smaller-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-800);
  --fs-primary-heading: var(--fs-900);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb {

  background: linear-gradient(transparent, var(--secondColor), transparent);
}

@font-face {
  font-family: DIN;
  src: url(../assets/fonts/alfont_com_AlFont_com_DINNextLTArabic-Regular.ttf);
}

/* =============================
Scroll animation claesses
================================*/
.hidden {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
}

.show {
  opacity: 1;
  transform: scale(1);
}

.hidden-card {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 1s;
  transform: translateX(-25%);
}

.show-card {
  opacity: 1;
  transform: translate(0);
}

.hidden-step {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.7s;
  transform: translateX(25%) translateY(-25%);
}

.show-step {
  opacity: 1;
  transform: translate(0);
}

.hidden-text {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.5s;
  transform: translateX(25%);
}

.show-text {
  opacity: 1;
  transform: translate(0);
}

.hidden-svg {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.5);
}

.show-svg {
  opacity: 1;
  transform: scale(1);
}

section {
  padding-top: 100px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

/* Typography styles */
h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-black);
}

h2 {
  font-size: var(--fs-800);
  font-weight: var(--fw-black);
}

h3 {
  font-size: 45px;
  font-weight: var(--fw-black);
}

h4 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

span {
  font-size: var(--fs-600);
  font-weight: var(--fw-medium);
}

p {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  width: 500px;
}

/* Typography styles */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  direction: rtl;
  background-color: var(--white);
  font-family: var(--ff-primary);
  font-display: inherit;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
}

.container {
  width: 90%;
  margin: auto;
}

button,
input {
  border: none;
  outline: none;
}

.btnUp {
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: var(--mainColor);
  color: var(--white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #0000003d;
  transition: all var(--transition-time);
  animation: trans 1s infinite alternate;
}

/*================================
nav 
=====================================*/

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 20px 0;
  transition: var(--transition-time) ease-in-out;
  background-color: var(--white);
}

.nav .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .links {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.links li a {
  color: var(--black);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  transition: var(--transition-time) ease-in-out,
    color var(--transition-time) ease-in-out;
}

.navbar-actions {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.primary-btn,
.secondary-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  color: var(--white);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  cursor: pointer;
  transition: var(--transition-time) ease-in-out;
}

.primary-btn {
  background-color: var(--secondColor);
}

.primary-btn:hover {
  color: var(--mainColor);
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid var(--secondColor);
  color: var(--black);
}

.secondary-btn:hover {
  border: 1px solid var(--secondColor);
  background-color: var(--secondColor);
  color: var(--white);
}

.nav-active .links li a {
  color: var(--black);
}

.logo img {
  width: 166.69px;
}

.nav .toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--white);
}

.nav-active .toggle {
  color: var(--black);
}

.nav-active .secondary-btn {
  color: var(--secondColor);
}

.nav .links {
  transition: var(--transition-time) ease-in-out;
}

.nav .links-mobile {
  position: absolute;
  background: var(--white);
  left: 0;
  top: 81px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
  padding: 20px;
  z-index: 9999;
  transition: var(--transition-time) ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translate(0%, -100%);
  transform-origin: top;
}

.nav .links-mobile li a {
  padding: 20px;
  display: inline-block;
  color: var(--black);
  transition: color var(--transition-time) ease-in-out;
}

.links-mobile.collapse {
  opacity: 0;
  visibility: hidden;
  transform: translate(0%, -100%);
}

.links li a:hover,
.links-mobile li a:hover {
  color: var(--secondColor);
}

/* av when scroll */

.nav-active {
  background-color: var(--white);
  top: 1.5%;
  width: 95%;
  margin: 0% 2.5%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #aaa;
  transition: var(--transition-time) ease-in-out;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-active img {
  width: 166.69px;
}

/* join us section */
.join-us {
  margin-top: 169px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-content .right-side h1 {
  font-weight: bolder;
}

.main-content {
  position: relative;

}


.join-us .main-content .right-side p {
  width: 700px;
  color: var(--mainColor);
  font-weight: bold;
  line-height: 2;
}

@media (max-width: 767px) {
  .main-content .right-side p {
    width: 100% !important;
  }
}

.main-content .left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content .left-side .first-btn {
  text-align: center;
  display: block;
  width: 131px !important;
  padding: 20px;
}

.main-content .left-side .second-btn {
  text-align: center;
  display: block;
  width: 184px !important;
  padding: 20px;
  margin-right: 20px;
}

.join-background {
  margin-top: 64px;
  width: 100%;
  background-color: var(--mainColor);
  border-top-right-radius: 265px;


}

/* why us section */
.why-us {
  background: var(--mainColor);
  color: var(--white);
  border-bottom-right-radius: 150px;
  padding-bottom: 200px;
  position: relative;
}

.why-us .svg-one {
  position: absolute;
  left: 20px;
  top: -150px;
}

.why-us .svg-two {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.why-us .container .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
}

.why-us .container .main-content .left-side {
  margin-top: 100px;
}

.why-us .container .main-content .right-side {
  padding: 50px;
}

.why-us .container .main-content .right-side p {
  margin-top: 20px;
  line-height: 2;
}

.why-us .container .main-content .right-side a {
  color: var(--white);
}

.why-us .container .main-content .left-side .cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  z-index: 49;
}

.why-us .container .main-content .left-side .cards .card {
  Width: 399.82px;
  Height: 362px;
  background-color: #063C88;
  border-radius: 60px 60px 60px 0px;
  padding: 49px 41px;
}

.why-us .container .main-content .left-side .cards .card .icon i {
  color: var(--secondColor);
  font-size: 35px;
  margin-bottom: 24px;
}

.why-us .container .main-content .left-side .cards .card h4 {
  margin-bottom: 25px;
}

.why-us .container .main-content .left-side .cards .card p {
  line-height: 1.8;
  width: 100%;
}

@media (min-width:1030px) and (max-width: 1590px) {
  .why-us .container .main-content .right-side {
    margin: auto;
    text-align: center;
  }

  .why-us .container .main-content .right-side p {
    width: 800px;
    margin-top: 30px;
  }

  .why-us .container .main-content .left-side .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .why-us .container .main-content .left-side .cards .card {
    width: 100%;
  }
}

@media (max-width: 1029px) {
  .why-us .svg-one {
      display: none;
    }
  
    .why-us .svg-two {
      display: none;
    }


  .why-us .container .main-content .right-side {
    margin: auto;
    text-align: center;
  }

  .why-us .container .main-content .right-side p {
    width: 800px;
    margin-top: 30px;
  }

  .why-us .container .main-content .left-side .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .why-us .container .main-content .left-side .cards .card {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .why-us .container .main-content .left-side .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .why-us .container .main-content .left-side .cards .card {
    width: 100%;
  }
}

@media (min-width: 1591px) {
  .why-us .container .main-content .right-side {
    margin-bottom: 750px;
  }
}

/* Available jobs Section */
.available-jobs .container .section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.available-jobs .container .section-head .title h2 {
  margin-bottom: 7px;
}

.available-jobs .container .section-head .filter ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.available-jobs .container .section-head .filter ul li {
  padding: 18px 28px;
  border-radius: 24px 24px 24px 0px;
  background: rgba(208, 225, 255, 0.3);
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
}

.available-jobs .container .section-head .filter ul li:hover {

  background: var(--secondColor);
  color: var(--white);

}

.available-jobs .container .section-head .filter ul li.active {
  background: var(--secondColor);
  color: var(--white);
}

.available-jobs .container .section-head .filter ul li.active:hover {
  background: #063C88;
  color: var(--white);
}

.available-jobs .container .section-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.available-jobs .container .section-cards .section-card {
  margin: auto;
  width: 600px;
  height: 348px;
  background: #d8e3f879;
  border-radius: 60px 60px 60px 0px;
  padding: 60px;
  transition: var(--transition-time);
  cursor: pointer;
}

@media (max-width: 1385px) {
  .available-jobs .container .section-cards .section-card {
      margin: auto;
      width: 100%;
      height: 348px;
      background: #d8e3f879;
      border-radius: 60px 60px 60px 0px;
      padding: 60px;
      transition: var(--transition-time);
      cursor: pointer;
    }
}

.available-jobs .container .section-cards .section-card .type {
  color: var(--mainColor);
  font-weight: bold;
  margin-bottom: 30px;
}

.available-jobs .container .section-cards .section-card .card-title h4 {
  font-weight: bolder;
  margin-bottom: 23px;
  transition: var(--transition-time);
  cursor: pointer;
}

.available-jobs .container .section-cards .section-card h4:hover {
  color: var(--secondColor);
}

.available-jobs .container .section-cards .section-card .card-desc p {
  color: var(--mainColor);
  margin-bottom: 20px;
  width: 100%;
}

.available-jobs .container .section-cards .section-card .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.available-jobs .container .section-cards .section-card .time i {
  color: var(--secondColor);
  font-size: 30px;
  transition: var(--transition-time);
}

.available-jobs .container .section-cards .section-card .time i:hover {
  margin-left: 10px;
}
@media (max-width:1160px) {

    .available-jobs .container .section-head {
      flex-direction: column;
    }
}
